:root {
  --primary-black: #080404;
  --yoga-blue: #253054;
  --yoga-orange: #f1cc9c;
}

/********************************************************Button*************************************************************/
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
  background-color: var(--yoga-orange) !important;
}

/********************************************************h-components*************************************************************/
.vid-info h2 {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--yoga-blue) !important;
}

h4 {
  font-size: 1.2rem;
  color: var(--yoga-blue) !important;
}

/**********************************************************Cards MediaQuery*************************************************************/

@media (max-width: 576px) {
  .card-columns {
    column-count: 1;
  }
  .card {
    width: 100%;
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}

/**********************************************************Cards*************************************************************/
