@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-black: #080404;
  --yoga-blue: #253054;
  --yoga-orange: #f1cc9c;
}

body{
  font-family: "Roboto Condensed", sans-serif;
}
/********************************************************NAVBAR*************************************************************/
nav{
  z-index: 2;
}
.logo{
  width: 4.063rem;
  height: 2.813rem;
}

.navbar {
  background-color: var(--yoga-orange);
}

/********************************************************NAV Links*************************************************************/
nav a.nav-link{
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--yoga-blue) !important;
  border-bottom: 0.1875rem solid var(--yoga-orange); 
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 3 0 !important;
  height: 4rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-bottom: 0.1875rem solid var(--primary-black);
}

.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid var(--primary-black);
}


/******************************************************** Header *************************************************************/
.header-wrapper{
  position: relative;
  background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./img/headerImage.png) no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.main-info{
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.main-info h2{
  color: var(--yoga-orange);
  text-transform: uppercase;
}


/******************************************************** Typed Text*************************************************************/
.typed-text{
  font-size: 2rem;
  color: #fff;
}


/******************************************************** Header Buttons *************************************************************/

.btn-app img {
  height: 50px;
  width: auto;
  margin-top: 8rem;
  font-size: 1.125rem;
}



/******************************************************** Particles Styling *************************************************************/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width:768px){
  .particles-canvas{
    display: none;
  }
  .typed-text{
    font-size: 1rem;
  }
  
}

@media(max-width:500px){
  .particles-canvas{
    display: none;
  }
  .typed-text{
    font-size: 0.8rem;
  }
  .btn-app img {
    height: 30px;
    width: auto;
    margin-top: 8rem;
    font-size: 1.125rem;
  }
  
}
